:root {    
    --text-c-900: #111827;
    --text-c-800: #1f2937;
    --text-c-700: #374151;
    --text-c-600: #4b5563;
    --text-c-500: #6b7280;
    --text-c-400: #9ca3af;
    --text-c-300: #d1d5db;
    --text-c-200: #e5e7eb;
    --text-c-100: #f3f4f6;
    --text-c-50: #f9fafb;
    --text-c-0: #ffffff;

    --primary-900: #0000E0;
    --primary-700: #5C5CFF;   
    --primary-100: #EBEBFF;

    /* --primary-900: #E09200;
    --primary-700: #F59F00;   
    --primary-100: #FFF1D6; */

    /* --primary-900: #833470;
    --primary-700: #A0408A;   
    --primary-100: #E8C5E0; */
  }