.font-x-small {
    font-size: 0.5rem;
}

.font-small {
    font-size: 1rem;
}

.font-normal {
    font-size: 1.125rem;
}

.font-large {
    font-size: 1.25rem;
}

.font-x-large {
    font-size: 1.5rem;
}

.font-xx-large {
    font-size: 2.5rem;
}

.font-xxx-large {
    font-size: 3.5rem;
}

.font-thin {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-style: normal;
}

.font-extralight {
    font-family: "Barlow", serif;
    font-weight: 200;
    font-style: normal;
}

.font-light {
    font-family: "Barlow", serif;
    font-weight: 300;
    font-style: normal;
}

.font-regular {
    font-family: "Barlow", serif;
    font-weight: 400;
    font-style: normal;
}

.font-medium {
    font-family: "Barlow", serif;
    font-weight: 500;
    font-style: normal;
}

.font-semibold {
    font-family: "Barlow", serif;
    font-weight: 600;
    font-style: normal;
}

.font-bold {
    font-family: "Barlow", serif;
    font-weight: 700;
    font-style: normal;
}

.font-extrabold {
    font-family: "Barlow", serif;
    font-weight: 800;
    font-style: normal;
}

.font-black {
    font-family: "Barlow", serif;
    font-weight: 900;
    font-style: normal;
}

.font-thin-italic {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-style: italic;
}

.font-extralight-italic {
    font-family: "Barlow", serif;
    font-weight: 200;
    font-style: italic;
}

.font-light-italic {
    font-family: "Barlow", serif;
    font-weight: 300;
    font-style: italic;
}

.font-regular-italic {
    font-family: "Barlow", serif;
    font-weight: 400;
    font-style: italic;
}

.font-medium-italic {
    font-family: "Barlow", serif;
    font-weight: 500;
    font-style: italic;
}

.font-semibold-italic {
    font-family: "Barlow", serif;
    font-weight: 600;
    font-style: italic;
}

.font-bold-italic {
    font-family: "Barlow", serif;
    font-weight: 700;
    font-style: italic;
}

.font-extrabold-italic {
    font-family: "Barlow", serif;
    font-weight: 800;
    font-style: italic;
}

.font-black-italic {
    font-family: "Barlow", serif;
    font-weight: 900;
    font-style: italic;
}