:root {
    --maxWidth: 84rem;
    --padding: 4rem 1.5rem;
}

html {
    scroll-padding-top: 4rem;
}

body {
    margin: 0;
}

p {
    margin: 0;
    line-height: 1.5;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-0\.5 {
    margin-bottom: 0.5rem;
}

.container {
    padding: var(--padding);
    max-width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-700);
    color: var(--text-c-0);
    border-radius: 0.5rem;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.header {
    position: sticky;
    top: 0;
    background-color: var(--primary-700);
}

.header-i {
    max-width: var(--maxWidth);
    padding: 0.75rem 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links>a {
    text-decoration: none;
    color: var(--text-c-900);
    margin-left: 1rem;
}

.header-links>a:hover {
    text-decoration: underline;
    color: var(--text-c-0);
}

.hero-container,
.about-container,
.experience-container {
    color: var(--text-c-900);
}

.hero-container {
    background-color: var(--primary-700);
}

.text-outline-white {
    -webkit-text-fill-color: var(--primary-700);
    -webkit-text-stroke: 2px var(--text-c-0);
}

.text-outline-black {
    -webkit-text-fill-color: var(--primary-700);
    -webkit-text-stroke: 2px var(--text-c-900);
}

.hero-title-container {
    max-width: fit-content;
}

.hero-title-container>p {
    margin-bottom: 0.75rem;
}

.hero-image-container>img {
    height: 20rem;
    width: 20rem;
    border-radius: 9999px;
}

.hero-container>.container,
.about-container>.container,
.exp-outer .work-desctiption {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.sub-headline {
    color: var(--primary-900);
    margin-bottom: 1rem;
    text-decoration: overline;
}

.sub-headline-white {
    color: var(--text-c-0);
}

.mb-1 {
    margin-bottom: 1rem;
}

.about-image-container>img {
    height: 24rem;
    width: 24rem;
    border-radius: 1rem;
}

.exp-outer, .education-container .education-outer {
    border-left-width: 2px;
    border-left-style: solid;
    padding: 1rem;
    border-color: var(--primary-900);
}

.exp-outer a {
    text-decoration: none;
    color: var(--text-c-900);
}

.exp-outer .duration,
.exp-outer .location {
    margin-left: 1.5rem;
}

.company-image-container img {
    width: 16rem;
    height: auto;
}

.skills-container {
    background-color: var(--primary-700);
}

.skill-images-container {
    display: flex;
    row-gap: 2.5rem;
    column-gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skill-images-container img {
    height: 4rem;
    width: auto;
    vertical-align: top;
}

.skill-images-container figcaption {
    text-align: center;
    color: var(--text-c-0);
    padding-top: 0.5rem;
}

.skill-images-container figure {
    display: inline-block;
    text-align: center;
    margin: 0.25rem;
}